@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glow {
  0% {
    text-shadow: 0 0 20px rgba(168, 85, 247, 0.5), 0 0 40px rgba(168, 85, 247, 0.3);
  }
  100% {
    text-shadow: 0 0 30px rgba(168, 85, 247, 0.8), 0 0 60px rgba(168, 85, 247, 0.5);
  }
}

.rounded-button {
  border-radius: 0.5rem;
}